/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-v11-latin-regular.woff2') format('woff2'), url('../fonts/barlow-v11-latin-regular.woff') format('woff'); 
}
/* barlow-900 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  src: ('../fonts/barlow-v11-latin-900.woff2') format('woff2'), url('../fonts/barlow-v11-latin-900.woff') format('woff'); 
}